.login_container,
.container_img,
.conteudo {
    display: flex;   
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
.conteudo {
    flex-direction: column;
    background-color: #fff;
    height: 50vh;
    width: 30vw;
    border-radius: 0 1em 1em 0;
}
.conteudo input[type='submit'] {
    border-radius: 8px;
    background-color: #25b456;
    color: #fff;
    border: none;
    min-height: 2.5em;
    padding: 1em;
    width: 420px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}

.conteudo input[type='submit']:hover {
    
    background-color: #1c8a42;
}


.container_img {
    width: 30vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-color: #f17d9c;
    border-radius:  1em  0  0 1em;

}
  