.conteiner_home{
   display: flex;
   flex-direction: column;
   margin: 1em 13em 1em 13em;
}
.conteiner_home h1{
    color: #F23D5E;
    font-size: 3em;

}
.conteiner_home p {
    margin-bottom: 1em ;
    font-size: 1.3em;

}